/node_modules
/public/hot
/public/storage
/storage/*.key
/storage
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.editorconfig
.gitattributes
.phpstorm.meta.php
.styleci.yml
_ide_helper.php
composer.lock

/package-lock.json
/package-lock.json
/resources/lang/
/resources/lang/ar/backend.php
/resources/lang/en/backend.php
